@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
    font-family: "Source Code Pro";

    --text-colour: #cccccc;
    --background-colour: #0e0e0f;
    --text-background-colour: #151518;
    --highlight-colour: #5151ff;

    /* --text-colour: rgb(0, 0, 0);
    --background-colour: #ffffff;
    --text-background-colour: #f0f0f0;
    --highlight-colour: #5151ff; */


    background-color: var(--background-colour);
    color: var(--text-colour);

    user-select: none;


    scrollbar-color: var(--background-colour) var(--text-background-colour);

}

* {
    box-sizing: border-box;

}

a{
    color: var(--highlight-colour);
}

hr {
    border: 2px solid var(--text-background-colour);
}

.vr {
    width: 1rem;
    display: inline-block;
}

#code-container {
    position: relative;
    display: inline-block;
    width: fit-content;
    background-color: var(--text-background-colour);
    border-radius: 0.5rem;
    pointer-events: none;
}

#code-container canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

#visualise {
    pointer-events: none;
   
}

#cell-grid-overlay {
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    position: absolute;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-image: url("./cell.png");
    background-size: 8.8px 19px;
    pointer-events: none;
}

textarea {
    border: 0;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--text-colour);
    background-color: var(--text-background-colour);
    padding: 1rem;
    width: 100%;
    outline: none;
    white-space: nowrap;
    scrollbar-color: var(--background-colour) var(--text-background-colour);
    border-radius: 0.5rem;
    min-width: 50rem;
    min-height: 25rem;
    field-sizing: content;
    pointer-events: all;
    
}   

textarea::selection {
    background-color: #ffffff67;
    color: var(--text-background-colour);
}

.button {
    border: 1px solid var(--text-colour);
    border-radius: 3px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    display: inline-block;
}

.button:hover, .button.selected {
    cursor: pointer;
    background-color: #292929;
}

#output {
    width: 100%;
    user-select: all;
}

#output td {
    padding: 0.75rem;
    border-bottom: 2px solid var(--text-background-colour);
}

/* #output tr:nth-child(odd) {
     background-color: var(--text-background-colour);
} */

input {
    background-color: var(--text-background-colour);
    /* border: 1px solid var(--text-colour); */
    border: none;
    border-radius: 0.25rem;
    color: var(--text-colour);
    padding: 0.5rem;
    font-family: "Source Code Pro";
    font-size: 1rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--text-colour);
    -webkit-appearance: none;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--highlight-colour);
}

/* #region editor */

#editor-canvas {
    z-index: 1000;
}


/* #endregion */